*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url('BLUE.jpg') no-repeat center center/cover;
    background-position: center;
    background-size: cover;
    position: relative;
}
header {
    background: #ffffff;
    padding: 10px 20px;
    text-align: center;
}
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}
nav img{
    width: 300px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
label {
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
}
select, input, button {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
button {
    width: 20%;
    background-color: #ff0000cf;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background-color: #c02525;
}